<%= turbo_frame_tag "user-new" do %>
  <div>
    <%= link_to "New User",  new_user_dashboard_user_path, disable_with: "Loading...", class: "new-user-button btn btn-primary pull-right  " %>
  </div>
<% end %>
