<%= turbo_frame_tag "user-new" do %>
<h3>
  New User
  </h3>
  <%= form_with model:  user, url: admin_dashboard_users_path(), method: "post" do  |f| %>
    <%=  render partial: "admin_dashboard/users/form",
      locals: { user: user , f: f} %>
  <% end %>
<% end %>
